@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Outfit', sans-serif;
}

.hero{
  background-image: url('../public/home-bg.jpg');
  background-size: cover;
}

.login{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.32);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.9px);
-webkit-backdrop-filter: blur(5.9px);
border: 1px solid rgba(255, 255, 255, 0.28);
}

.blocks-wrapper{
  /* background-color: black; */
  /* margin-top: -70vh;
  margin-left: 45vw; */
  z-index: 10000;
}

.admin-login{
  background-image: url('../public/admin_login_bg.jpg');
  background-size: cover;
}